<style type="text/css">
  table,
  th,
  td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
  }

  th {
    background-color: aquamarine;
  }

  #textAlignRight {
    text-align: right;
  }
</style>

<div id="container">
  <p>
    Hello <%= lecturerName %>,
  </p>
  <p>
    Here is the weekly attendance report of your classes from <%= dayFirst %> to <%= dayLast %>.
  </p>
  <table width="100%">
    <thead>
      <tr>
        <th>Subject</th>
        <th>Class type</th>
        <th>Time</th>
        <th>Room</th>
        <th>Student number</th>
        <th>This week attendance</th>
        <th>Previous week attendance</th>
      </tr>
    </thead>
    <tbody>
      <% courses.forEach(c=> { %>
        <tr>
          <td>
            <%= c.subjectId %> - <%= c.subjectName %>
          </td>
          <td>
            <%= c.classType %>
          </td>
          <td>
            <%= c.weekday %> (<%= c.periods[0] %> - <%= c.periods[c.periods.length - 1] %>)
          </td>
          <td>
            <%= c.roomCode %>
          </td>
          <td id="textAlignRight">
            <%= c.studentNumber %>
          </td>
          <td id="textAlignRight">
            (<%= c.attendances[c.attendances.length - 1].date %>) <%= c.attendances[c.attendances.length -
                1].studentCount %> - <%= Math.round(c.attendances[c.attendances.length - 1].studentCount /
                  c.studentNumber * 100) %>%
          </td>
          <td id="textAlignRight">
            (<%= c.attendances[c.attendances.length - 2].date %>) <%= c.attendances[c.attendances.length -
                2].studentCount %> - <%= Math.round(c.attendances[c.attendances.length - 2].studentCount /
                  c.studentNumber * 100) %>%
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
  <br />
  <a href="https://hcmiu-presence.web.app">
    See details
  </a>
  <br />
  <p>Sincerely yours,</p>
  <p>Presence.</p>
  <i>---</i>
  <i>This is automatic email. Please don't reply.</i>
  <i>You are receiving this because you're a part of greater good :D</i>
  <!-- <img src="static/images/logo_invert.jpg" alt="PresenceLogo" /> -->
</div>